:host {
    width: 500px;
    display: inline-block;
}

#mainCanvas {
    background-color: #435953;
}

#mouseStats {
    height: 0;
    margin: 0;
    position: relative;
    top: -2em;
    left: 1em;
}

.canvasWrapper {
    position: relative;
}

.canvasWrapper canvas {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 10px;
}

.highlightCanvas {
    background-color: transparent;
}