li {
    padding: 5px;
    list-style: none;
}

li:hover {
    color: cornflowerblue;
    cursor: pointer;
}

li.marked {
    background-color: cornflowerblue;
    color: white;
}

.disabled {
    color: gray;
}

.disabled:hover {
    color: gray;
    cursor: default;
}