/*.tools {*/
/*    width: 100px;*/
/*    float: left;*/
/*    padding: 5px;*/
/*}*/

li {
    padding: 5px;
    list-style: none;
}

li:hover {
    color: cornflowerblue;
    cursor: pointer;
}

li.marked {
    background-color: cornflowerblue;
    color: white;
}
